<h1>Escribinos tu consulta</h1>
<form action=''>
	<div>
		<label for='apodo'>Contanos cómo te dicen</label>
		<input type='text' name='apodo' />
	</div>
	<div>
		<label for='mail'>tu mail</label>
		<input type='text' name='mail' />
	</div>
	<div>
		<label for='telefono'>tu telefono</label>
		<input type='text' name='telefono' />
	</div>
	<textarea
		name='comentarios'
		id='comentarios'
		cols='30'
		rows='10'
		placeholder='dejanos tu mensaje'
	></textarea>
	<button>enviar</button>
</form>