<h1>estas son las novedades de esta semana</h1>
<ul>
	<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia perferendis tempora autem!
		Nemo eum odit dignissimos, officiis ea dicta, saepe fugiat maxime accusantium dolores amet
		recusandae suscipit earum, similique quisquam.</li>
	<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia perferendis tempora autem!
		Nemo eum odit dignissimos, officiis ea dicta, saepe fugiat maxime accusantium dolores amet
		recusandae suscipit earum, similique quisquam.</li>
	<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia perferendis tempora autem!
		Nemo eum odit dignissimos, officiis ea dicta, saepe fugiat maxime accusantium dolores amet
		recusandae suscipit earum, similique quisquam.</li>
</ul>