<h1>Bienvenido a la página para administrar los precios de Patavans</h1>
<h3>desde aquí podrá modificar los valores que aparecen en la web</h3>
{{#if logueado}}
	<h3>Hola {{nombre}}</h3>
	<h2 style='color: violet'>ESTÁS LOGUEADO</h2>
	<a href='/destruir'>salir</a>
{{/if}}