body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 500px;
}
header {
	background-color: rgb(165, 42, 42, 0.3);
	width: 400px;
	border: 2px solid rgb(165, 42, 42, 1);
	border-radius: 30px;
	padding: 30px;
}

h1 {
	color: rgb(165, 42, 42, 1);
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-weight: 700;
}

h1:hover {
	color: rgb(165, 42, 42, 0.8);
}

#subtitle:hover {
	background: linear-gradient(90deg, rgb(165, 42, 42, 0), rgb(165, 42, 42, 0.5));
}

#subtitle {
	text-align: right;
	color: rgb(165, 42, 42, 0.7);
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	font-style: italic;
}

img {
	border-radius: 30px;
	border: 2px solid rgb(165, 42, 42, 1);
	margin-top: 30px;
	max-height: 300px;
}

.firma {
	text-align: right;
	font-family: 'Bad Script', cursive;
	background: linear-gradient(90deg, rgb(165, 42, 42, 0), rgb(165, 42, 42, 0.5));
	padding: 5px 12px;
	border-radius: 5px;
	margin-top: 28px;
}

h4 {
	margin-left: 50px;
	font-family: 'Source Code Pro', monospace;
	font-weight: 700;
	color: rgb(113, 29, 29);
}
h5 {
	border: 2px solid rgb(165, 42, 42, 1);
	padding: 5px;
	box-shadow: 5px 5px 5px rgb(165, 42, 42, 0.3);
	border-radius: 5px;
}
ul {
	list-style: none;
}
p {
	column-count: 2;
	column-gap: 20px;
}
